# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_FROM=YourAppName
SMTP_TO=recipient-email@gmail.com

# Application Configuration
BASE_URL=http://localhost:8080

# Database Configuration
DB_HOST=postgres
DB_USER=your-db-user
DB_PASSWORD=your-db-password
PORT=5432

# Application Environment
APP_ENV=development